.search-results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  box-sizing: border-box;
}

.search-bar-disabled {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.back-button {
  color: black;
  cursor: pointer;
}

.search-bar-disabled input {
  font-size: 13px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  height: 10px;
  width: 100%;
  margin: 0 10px;
  border-radius: 4px;
  pointer-events: none;
}

.results {
  flex: 1;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px; /* Reduced space between tabs and AI recommendations */
}

.tab {
  font-size: 9px;
  color: black;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid black;
}

.result-items {
  display: flex;
  flex-wrap: wrap;
}

.result-item {
  width: 48%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.result-item img {
  width: 100%;
  border-radius: 8px;
}

.description {
  margin-top: 10px;
  color: black;
  font-size: 14px;
}

.wand-icon {
  margin-right: 5px;
}

.ai-suggestion-box {
  font-size: 12px;
  padding: 2px 15px; /* Added padding for text */
  margin: 0 -10px; /* Negative margin to extend background to edges */
  background-color: #ff64c629;
}

.ai-suggestion-box.loading {
  background-color: #ffff66;
}

.ai-recommendation-content {
  color: #000;
  text-align: left; /* Align text to the left */
}

.ai-recommendation-content p {
  margin: 5px 0;
}

.ai-recommendation-content strong {
  color: #9900ff; /* TikTok Assistant text color in purple */
}

.disclaimer {
  font-size: 10px;
  color: #999;
  margin-top: 10px;
}
